*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100vh;
    width: 100vw;
}

#landing-background{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom right, #fff, #d3d3fc);
    filter: blur(5px);
    z-index: -5;
}

#nav-container{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #111; */
}

#nav-container #lft-nav{
    margin-left: 2%;
}

.logo{
    font-size: 20px;
    font-weight: 520;
    color: #1a1ad1;
}

#nav-container #rght-nav{
    margin-top: 2px;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-direction: row;
}

#nav-container #rght-nav a{
    cursor: pointer;
    font-size: 14px;
    font-weight: 520;
    color: #111;
    text-decoration: none;
}

#nav-container #rght-nav #signupBtn,
#nav-container #rght-nav #loginBtn{
    padding: 4px 12px;
    border-radius: 50px;
    border: none;
    color: #000;
    border: 2px solid #80808094;
    transition: 0.5s;
}

#nav-container #rght-nav #signupBtn:hover,
#nav-container #rght-nav #loginBtn:hover{
    box-shadow: 0 0 8px #3434ed;
    /* filter: drop-shadow(0px 1px 8px #c01033); */
}

#landing-heading{
    width: 60%;
    height: 20vh;
    margin-top: 5%;
    margin-left: 20%;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 28px;
    line-height: 55px;
    color: #000;
    /* background-color: crimson; */
}

#landing-imageHolder{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 45vh;
    width: 32vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: crimson; */
}

#landing-imageFrame{
    position: relative;
    height: 90%;
    width: 90%;
    /* background-color: blue; */
}

#landing-imageFrame img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: drop-shadow(2px 0px 8px #24242463);
}

.img-box1{
    position: absolute;
    top: 34%;
    left: 34%;
    height: 16%;
    width: 7%;
    /* background-color: red; */
}

.img-box2{
    position: absolute;
    top: 40%;
    right: 30%;
    height: 18%;
    width: 8%;
    /* background-color: rgb(64, 0, 255); */
}

.imgbox img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: drop-shadow(-2px 3px 4px #17171753);
}

.img-box1 img{
    filter: drop-shadow(-2px 3px 4px #32323230);
}

